.Banner_1 {
  background-size: cover;
  display: flex;
  background-repeat: no-repeat;
  background-position: center center;
  width: 1440px;
  height: 500px;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 0;
  overflow:hidden;
}

.custom-search-bar{
  width: 593px;
  height: 52px;
  flex-shrink: 0;
  margin-left:300px;
  margin-top:158px;
  display:flex;
  border-radius:0;
  color: #6B6969;
font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.custom-button{
  border-radius:0;
  margin-top:158px;
  flex-shrink:0;
  border-width:2px;
  font-size:24px;
font-family: 'Raleway', sans-serif;  
font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}