/* App.css */
.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the form horizontally */
  margin-top: 300px;
}

.login-form {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Adjusted padding for smaller screens */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Set the width of the form to 100% */
  max-width: 400px; /* Set a maximum width to prevent it from getting too wide */
  margin-top: 300px;
  margin-left:550px ;
}
.custom-login-button{
  background-color:#62d2a2;
  border-color: #f9f5f2;
}


/* Responsive Styles */
@media (max-width: 2000px) {
  .login-form {
    width: 400px; 
    margin-left: 550px;
  }
}
@media (max-width: 1500px) {
  .login-form {
    width: 400px; 
    margin-left: 550px;
  }
}
@media (max-width: 1000px) {
  .login-form {
    width: 400px; 
    margin-left:200px;
  }
}
@media (max-width: 750px) {
  .login-form {
    width: 400px; 
    margin-left: 200px;
  }
}

@media (max-width: 500px) {
  .login-form {
    width: 400px; 
    margin-left: 50px;
  }
}
